# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Meta files
.depend

# Compiled binaries
utt
test

# IDE files
nbproject/
